* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github/workflows/update-changelog.yml export-ignore
/.github/CONTRIBUTING.md export-ignore
/.github/FUNDING.yml export-ignore
/.github/SECURITY.md export-ignore
/art export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
README.md export-ignore
LICENSE.md export-ignore
pnpm-lock.yaml export-ignore
pnpm-workspace.yaml export-ignore
