includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
